<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <h1>You are logged in as <%= @current_user.username %></h1>
      <%= link_to 'Logout', logout_path, method: :delete %>&nbsp/&nbsp<%= link_to 'Events', events_path %>
    <% else %>
      <%= link_to 'Please login', login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
